<p>checkout works!</p>
<div class="container">
  <h5 class="profile">Profile</h5>
  <img src="" class="profileimg">
  
  
  <form class="profileform">
    <label for="name">Name</label>
    <br />
    <input type="text">
    <br />
  
    <label for="number">Phone Number</label>
    <br />
    <input type="number">
    <br />
  
    <label for="address">Billing Address</label>
    <br />
    <input type="address">
    <br />
  
  </form>
  
  <button class="save">Save</button>
  
  <p class="allprofile"></p>
  
  </div>