<div class="big">
      <div class="container">
            <div class="row" style="width:100%;margin-top:70;">
                <div class="col-4">
                    <h6 class="Products">Categories</h6>
                </div>
                <div class="col-4">
                    
                </div>
                <div class="col-4">
                    <button class="addproducts" data-toggle="modal" data-target="#exampleModalCenter" >ADD CATEGORY</button>

                    <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content"> 
    <div class="modal-body">
      <form style="margin-top:6%;">
          <label class="productname" type="text">Category Name</label>
          <br />
          <input class="input1">
      </form>
      <button class="lastadd">ADD CATEGORY</button>
    </div>
  </div>
</div>
</div>
                </div>
            </div>

   
   
   
   
   
   
   
   
   
            <div class="viewitem">View All</div>
            <div class="ano">
            <div class="row" style="margin-top:11;">
              <div class="col-10">
                <p class="anokia">All</p>
            </div>
            <div class="col-1">
                <img src="assets/images/Vector (2).png" class="imgpic1">
            </div>
            <div class="col-1">
                <img src="assets/images/Vector (3).png" class="imgpic1">
            </div>
            </div>
            </div>

            <div class="ano">
                <div class="row" style="margin-top:11;">
                  <div class="col-10">
                    <p class="anokia">Clothes</p>
                </div>
                <div class="col-1">
                    <img src="assets/images/Vector (2).png" class="imgpic1">
                </div>
                <div class="col-1">
                    <img src="assets/images/Vector (3).png" class="imgpic1">
                </div>
                </div>
                </div>

                <div class="ano">
                    <div class="row" style="margin-top:11;">
                      <div class="col-10">
                        <p class="anokia">Shoes</p>
                    </div>
                    <div class="col-1">
                        <img src="assets/images/Vector (2).png" class="imgpic1">
                    </div>
                    <div class="col-1">
                        <img src="assets/images/Vector (3).png" class="imgpic1">
                    </div>
                    </div>
                    </div>

                    <div class="ano">
                        <div class="row" style="margin-top:11;">
                          <div class="col-10">
                            <p class="anokia">Perfumes</p>
                        </div>
                        <div class="col-1">
                            <img src="assets/images/Vector (2).png" class="imgpic1">
                        </div>
                        <div class="col-1">
                            <img src="assets/images/Vector (3).png" class="imgpic1">
                        </div>
                        </div>
                        </div>


                        <div class="ano">
                            <div class="row" style="margin-top:11;">
                              <div class="col-10">
                                <p class="anokia">Lotions</p>
                            </div>
                            <div class="col-1">
                                <img src="assets/images/Vector (2).png" class="imgpic1">
                            </div>
                            <div class="col-1">
                                <img src="assets/images/Vector (3).png" class="imgpic1">
                            </div>
                            </div>
                            </div>

                            <div class="ano">
                                <div class="row" style="margin-top:11;">
                                  <div class="col-10">
                                    <p class="anokia">Accessories</p>
                                </div>
                                <div class="col-1">
                                    <img src="assets/images/Vector (2).png" class="imgpic1">
                                </div>
                                <div class="col-1">
                                    <img src="assets/images/Vector (3).png" class="imgpic1">
                                </div>
                                </div>
                                </div>



   </div>
        
    






</div>

<div class="small">
            <div class="container">
                <div class="row" style="width:100%;margin-top:70;">
                    <div class="col-6">
                        <h6 class="Products">Categories</h6>
                    </div>
                  
                    <div class="col-6">
                        <button class="smalladdproducts" data-toggle="modal" data-target="#smallexampleModalCenter">ADD CATEGORY</button>
                    </div>
                    <div class="modal fade" id="smallexampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content"> 
                            <div class="modal-body">
                              <form style="margin-top:6%;">                              
                                  <label class="productname" type="text">Category Name</label>
                                  <br />
                                  <input class="input1">
                              </form>
                              <button class="lastadd">ADD CATEGORY</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

                <div class="smallviewitem">View All</div>
                <div class="ano">
                <div class="row" style="margin-top:11;">
                  <div class="col-6">
                    <p class="smallanokia">All</p>
                </div>
                <div class="col-3">
                    <img src="assets/images/Vector (2).png" class="imgpic1">
                </div>
                <div class="col-3">
                    <img src="assets/images/Vector (3).png" class="imgpic1">
                </div>
                </div>
                </div>

                <div class="ano">
                    <div class="row" style="margin-top:11;">
                      <div class="col-6">
                        <p class="smallanokia">Clothes</p>
                    </div>
                    <div class="col-3">
                        <img src="assets/images/Vector (2).png" class="imgpic1">
                    </div>
                    <div class="col-3">
                        <img src="assets/images/Vector (3).png" class="imgpic1">
                    </div>
                    </div>
                    </div>

                    <div class="ano">
                        <div class="row" style="margin-top:11;">
                          <div class="col-6">
                            <p class="smallanokia">Shoes</p>
                        </div>
                        <div class="col-3">
                            <img src="assets/images/Vector (2).png" class="imgpic1">
                        </div>
                        <div class="col-3">
                            <img src="assets/images/Vector (3).png" class="imgpic1">
                        </div>
                        </div>
                        </div>

                        <div class="ano">
                            <div class="row" style="margin-top:11;">
                              <div class="col-6">
                                <p class="smallanokia">Perfumes</p>
                            </div>
                            <div class="col-3">
                                <img src="assets/images/Vector (2).png" class="imgpic1">
                            </div>
                            <div class="col-3">
                                <img src="assets/images/Vector (3).png" class="imgpic1">
                            </div>
                            </div>
                            </div>


                            <div class="ano">
                                <div class="row" style="margin-top:11;">
                                  <div class="col-6">
                                    <p class="smallanokia">Lotion</p>
                                </div>
                                <div class="col-3">
                                    <img src="assets/images/Vector (2).png" class="imgpic1">
                                </div>
                                <div class="col-3">
                                    <img src="assets/images/Vector (3).png" class="imgpic1">
                                </div>
                                </div>
                                </div>


                                <div class="ano">
                                    <div class="row" style="margin-top:11;">
                                      <div class="col-6">
                                        <p class="smallanokia">Accessories</p>
                                    </div>
                                    <div class="col-3">
                                        <img src="assets/images/Vector (2).png" class="imgpic1">
                                    </div>
                                    <div class="col-3">
                                        <img src="assets/images/Vector (3).png" class="imgpic1">
                                    </div>
                                    </div>
                                    </div>


         

        







       </div>
     
</div>
