<h5 class="shopping">Order Summary</h5>
<div class="container">
    <div class="row allrow" style="width:100%;">
        <div class="col-4">
            <div class="row">
                <div class="col-4">
                    <img src="assets/shop product/cartshoe.png" class="imgcart">
                </div>
                <div class="col-8">
                    <p class="highboot">High Boots</p>
                </div>
            </div>
        </div>
        <div class="col-2">
           
        </div>
        <div class="col-2">
            <p class="highboot">2</p>
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-2">
            <p class="highbootprice">N20,000</p>
        </div>
    </div> 
    </div>

    
    <div class="container">
        <div class="row allrow" style="width:100%;">
            <div class="col-4">
                <div class="row">
                    <div class="col-4">
                        <img src="assets/shop product/cartshoe2.png" class="imgcart">
                    </div>
                    <div class="col-8">
                        <p class="highboot">Brown Flats</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                <p class="highboot">1</p>
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                <p class="highbootprice">N4,000</p>
            </div>
        </div> 
        </div>


        <div class="container">
            <div class="row allrow" style="width:100%;">
                <div class="col-4">
                    <div class="row">
                        <div class="col-4">
                            <img src="assets/shop product/cartglass.png" class="imgcart">
                        </div>
                        <div class="col-8">
                            <p class="highboot">Transparent Eye glasses</p>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    
                </div>
                <div class="col-2">
                    <p class="highboot">1</p>
                </div>
                <div class="col-2">
                   
                </div>
                <div class="col-2">
                    <p class="highbootprice">N6,000</p>
                </div>
            </div> 
            </div>


            <div class="container">
                <div class="row allrow" style="width:100%;">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-4">
                                <img src="assets/shop product/cartperfume.png" class="imgcart">
                            </div>
                            <div class="col-8">
                                <p class="highboot">Coco Chanel</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        
                    </div>
                    <div class="col-2">
                        <p class="highboot">2</p>
                    </div>
                    <div class="col-2">
                       
                    </div>
                    <div class="col-2">
                        <p class="highbootprice">N28,000</p>
                    </div>
                </div> 
                </div>



                <h5 class="payment">Payment Method</h5>
                <div class="container">
                    <div class="row method">
                        <div class="col-4">
                            <input type="radio"  name="website" value="Pay On Website" data-target="#exampleModalCenter"  data-toggle="modal">
                            <label for="male">Pay On Website</label>
                        </div>
                        <div class="col-4">
                            <input type="radio"  name="delivery" value="Pay On Delivery">
                            <label for="male">Pay On Delivery</label>
                        </div>
                        <div class="col-4">
                            
                        </div>
                    </div>

                </div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <h6 class="paystack">Paystack API Interface</h6>
        <button class="pay">PAY</button>
        <p class="last"></p>
      </div>
</div>
</div>

    
                <div class="container">
                    <div class="row" style="width:100%;">
                        <div class="col-4">
                           
                        </div>
                        <div class="col-2">
                            
                        </div>
                        <div class="col-2">
                           
                        </div>
                        <div class="col-2">
                            <p class="highboot1">Total</p>
                        </div>
                        <div class="col-2">
                            <p class="highbootprice1">N28,000</p>
                        </div>
                    </div> 
                    </div>

                    <div class="container">
                        <button class="checkout1">CHECKOUT</button>
                    </div>

                    <p class="lastall"></p>
