
<div class="big">
        <div class="container">
                    <h6 class="Products">Orders</h6>
                    <p class="viewitem">View All</p>


       <div class="row">
           <div class="col-4">
               <p class="everything">Customer</p>
           </div>
           <div class="col-2">
            <p class="everything">Order ID</p>
        </div>
        <div class="col-2">
            <p class="everything">Product</p>
        </div>
        <div class="col-1">
            <p class="everything">Quantity</p>
        </div>
        <div class="col-1">
            <p class="everything">Price</p>
        </div>
        <div class="col-2">
            <p class="everything">Status</p>
        </div>
       </div>





     <div class="row">
         <div class="col-4">
             <div class="row">
                 <div class="col-2">
                    <img src="assets/images/Rectangle 821.png" class="biggy">
                 </div>
                 <div class="col-10">
                    <p class="namey">Adeyoju Opeoluwa</p> 
                </div>
             </div>  
         </div>
         <div class="col-2">
            <p class="orderid">#10121</p>
        </div>
        <div class="col-2">
            <p class="orderid">Yellow Flats</p>
     </div>
     <div class="col-1">
        <p class="orderid">1</p>
 </div>
 <div class="col-1">
    <p class="pricey">N6,000</p>
</div>
<div class="col-2">
<button class="btn1"  data-toggle="modal" data-target="#exampleModalCenter">UPDATE</button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row" style="margin-top:18%;">
          <div class="col-6">
              <button class="btn2">DELIVERED</button>
          </div>
          <div class="col-6">
            <button class="btn3">IN PROGRESS</button>
        </div>
      </div>
      <p class="dot">.</p>
    </div>
  </div>
</div>
</div>



     </div>

     <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-2">
                   <img src="assets/images/Rectangle 831.png" class="biggy">
                </div>
                <div class="col-10">
                   <p class="namey">Akinolu Ore</p> 
               </div>
            </div>  
        </div>
        <div class="col-2">
            <p class="orderid">#10122</p>
        </div>
        <div class="col-2">
            <p class="orderid">D&G Flats</p>
     </div>
     <div class="col-1">
        <p class="orderid">2</p>
 </div>
 <div class="col-1">
    <p class="pricey">N2,000</p>
</div>
<div class="col-2">
<button class="btn1"  data-toggle="modal" data-target="#exampleModalCenter">UPDATE</button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row" style="margin-top:18%;">
          <div class="col-6">
              <button class="btn2">DELIVERED</button>
          </div>
          <div class="col-6">
            <button class="btn3">IN PROGRESS</button>
        </div>
      </div>
      <p class="dot">.</p>
    </div>
  </div>
</div>
</div>

    </div>


    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-2">
                   <img src="assets/images/Rectangle 841.png" class="biggy">
                </div>
                <div class="col-10">
                   <p class="namey">Adeyoju Ayoluwa</p> 
               </div>
            </div>  
        </div>
        <div class="col-2">
            <p class="orderid">#10123</p>
        </div>
        <div class="col-2">
            <p class="orderid">OXFORD</p>
     </div>
     <div class="col-1">
        <p class="orderid">1</p>
 </div>
 <div class="col-1">
    <p class="pricey">N9,000</p>
</div>
<div class="col-2">
<button class="btn1"  data-toggle="modal" data-target="#exampleModalCenter">UPDATE</button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row" style="margin-top:18%;">
          <div class="col-6">
              <button class="btn2">DELIVERED</button>
          </div>
          <div class="col-6">
            <button class="btn3">IN PROGRESS</button>
        </div>
      </div>
      <p class="dot">.</p>
    </div>
  </div>
</div>
</div>

    </div>


    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-2">
                   <img src="assets/images/Rectangle 851.png" class="biggy">
                </div>
                <div class="col-10">
                   <p class="namey">Falaye Ogoluwa</p> 
               </div>
            </div>  
        </div>
        <div class="col-2">
            <p class="orderid">#10125</p>
        </div>
        <div class="col-2">
            <p class="orderid">Transparent Glasses</p>
     </div>
     <div class="col-1">
        <p class="orderid">1</p>
 </div>
 <div class="col-1">
    <p class="pricey">N4,000</p>
</div>
<div class="col-2">
<button class="btn1"  data-toggle="modal" data-target="#exampleModalCenter">UPDATE</button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row" style="margin-top:18%;">
          <div class="col-6">
              <button class="btn2">DELIVERED</button>
          </div>
          <div class="col-6">
            <button class="btn3">IN PROGRESS</button>
        </div>
      </div>
      <p class="dot">.</p>
    </div>
  </div>
</div>
</div>

    </div>



    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-2">
                   <img src="assets/images/Rectangle 861.png" class="biggy">
                </div>
                <div class="col-10">
                   <p class="namey">Kayode Mosunmola</p> 
               </div>
            </div>  
        </div>
        <div class="col-2">
            <p class="orderid">#10125</p>
        </div>
        <div class="col-2">
            <p class="orderid">Digital Wristwatch</p>
     </div>
     <div class="col-1">
        <p class="orderid">2</p>
 </div>
 <div class="col-1">
    <p class="pricey">N6,000</p>
</div>
<div class="col-2">
<button class="btn1"  data-toggle="modal" data-target="#exampleModalCenter">UPDATE</button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row" style="margin-top:18%;">
          <div class="col-6">
              <button class="btn2">DELIVERED</button>
          </div>
          <div class="col-6">
            <button class="btn3">IN PROGRESS</button>
        </div>
      </div>
      <p class="dot">.</p>
    </div>
  </div>
</div>
</div>

    </div>



    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-2">
                   <img src="assets/images/Rectangle 87.png" class="biggy">
                </div>
                <div class="col-10">
                   <p class="namey">Caleb Animasaun</p> 
               </div>
            </div>  
        </div>
        <div class="col-2">
            <p class="orderid">#10126</p>
        </div>
        <div class="col-2">
            <p class="orderid">Jordans</p>
     </div>
     <div class="col-1">
        <p class="orderid">1</p>
 </div>
 <div class="col-1">
    <p class="pricey">N15,000</p>
</div>
<div class="col-2">
<button class="btn1"  data-toggle="modal" data-target="#exampleModalCenter">UPDATE</button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row" style="margin-top:18%;">
          <div class="col-6">
              <button class="btn2">DELIVERED</button>
          </div>
          <div class="col-6">
            <button class="btn3">IN PROGRESS</button>
        </div>
      </div>
      <p class="dot">.</p>
    </div>
  </div>
</div>
</div>

    </div>


    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-2">
                   <img src="assets/images/Rectangle 88.png" class="biggy">
                </div>
                <div class="col-10">
                   <p class="namey">Elizabeth Akinola</p> 
               </div>
            </div>  
        </div>
        <div class="col-2">
            <p class="orderid">#10127</p>
        </div>
        <div class="col-2">
            <p class="orderid">Victoria Secret</p>
     </div>
     <div class="col-1">
        <p class="orderid">2</p>
 </div>
 <div class="col-1">
    <p class="pricey">N6,000</p>
</div>
<div class="col-2">
<button class="btn1"  data-toggle="modal" data-target="#exampleModalCenter">UPDATE</button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row" style="margin-top:18%;">
          <div class="col-6">
              <button class="btn2">DELIVERED</button>
          </div>
          <div class="col-6">
            <button class="btn3">IN PROGRESS</button>
        </div>
      </div>
      <p class="dot">.</p>
    </div>
  </div>
</div>
</div>

    </div>


</div>
  
</div>



<div class="small">
  
            <div class="container">
                <h6 class="Products">Users</h6>
                <p class="viewitem">View All</p>


       
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-2">
                               <img src="assets/images/Rectangle 821.png" class="smallbiggy">
                            </div>
                            <div class="col-10">
                               <p class="smallnamey">Adeyoju Opeoluwa</p> 
                           </div>
                        </div>  
                    </div>
                    <div class="col-2">
                       <p class="smallorderid">#10121</p>
                   </div>
                   <div class="col-2">
                       <p class="smallorderid">Yellow Flats</p>
                </div>
                <div class="col-1">
                   <p class="smallorderid">1</p>
            </div>
            <div class="col-1">
               <p class="smallpricey">N6,000</p>
        </div>
        <div class="col-2">
           <button class="smallbtn1"  data-toggle="modal" data-target="#exampleModalCenter">UPDATE</button>
       </div>
       
         
         <!-- Modal -->
         <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
           <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
               <div class="modal-body">
                 <div class="row" style="margin-top:18%;">
                     <div class="col-6">
                         <button class="smallbtn2">DELIVERED</button>
                     </div>
                     <div class="col-6">
                       <button class="smallbtn3">IN PROGRESS</button>
                   </div>
                 </div>
                 <p class="dot">.</p>
               </div>
             </div>
           </div>
         </div>
       
       
       
                </div>
       
                <div class="row">
                   <div class="col-4">
                       <div class="row">
                           <div class="col-2">
                              <img src="assets/images/Rectangle 831.png" class="smallbiggy">
                           </div>
                           <div class="col-10">
                              <p class="smallnamey">Akinolu Ore</p> 
                          </div>
                       </div>  
                   </div>
                   <div class="col-2">
                       <p class="smallorderid">#10122</p>
                   </div>
                   <div class="col-2">
                       <p class="smallorderid">D&G Flats</p>
                </div>
                <div class="col-1">
                   <p class="smallorderid">2</p>
            </div>
            <div class="col-1">
               <p class="smallpricey">N2,000</p>
        </div>
        <div class="col-2">
           <button class="smallbtn1"  data-toggle="modal" data-target="#exampleModalCenter">UPDATE</button>
       </div>
       
         
         <!-- Modal -->
         <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
           <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
               <div class="modal-body">
                 <div class="row" style="margin-top:18%;">
                     <div class="col-6">
                         <button class="smallbtn2">DELIVERED</button>
                     </div>
                     <div class="col-6">
                       <button class="smallbtn3">IN PROGRESS</button>
                   </div>
                 </div>
                 <p class="dot">.</p>
               </div>
             </div>
           </div>
         </div>
       
               </div>
       
       
               <div class="row">
                   <div class="col-4">
                       <div class="row">
                           <div class="col-2">
                              <img src="assets/images/Rectangle 841.png" class="smallbiggy">
                           </div>
                           <div class="col-10">
                              <p class="smallnamey">Adeyoju Ayoluwa</p> 
                          </div>
                       </div>  
                   </div>
                   <div class="col-2">
                       <p class="smallorderid">#10123</p>
                   </div>
                   <div class="col-2">
                       <p class="smallorderid">OXFORD</p>
                </div>
                <div class="col-1">
                   <p class="smallorderid">1</p>
            </div>
            <div class="col-1">
               <p class="smallpricey">N9,000</p>
        </div>
        <div class="col-2">
           <button class="smallbtn1"  data-toggle="modal" data-target="#exampleModalCenter">UPDATE</button>
       </div>
       
         
         <!-- Modal -->
         <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
           <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
               <div class="modal-body">
                 <div class="row" style="margin-top:18%;">
                     <div class="col-6">
                         <button class="smallbtn2">DELIVERED</button>
                     </div>
                     <div class="col-6">
                       <button class="smallbtn3">IN PROGRESS</button>
                   </div>
                 </div>
                 <p class="dot">.</p>
               </div>
             </div>
           </div>
         </div>
       
               </div>
       
       
               <div class="row">
                   <div class="col-4">
                       <div class="row">
                           <div class="col-2">
                              <img src="assets/images/Rectangle 851.png" class="smallbiggy">
                           </div>
                           <div class="col-10">
                              <p class="smallnamey">Falaye Ogoluwa</p> 
                          </div>
                       </div>  
                   </div>
                   <div class="col-2">
                       <p class="smallorderid">#10125</p>
                   </div>
                   <div class="col-2">
                       <p class="smallorderid">Transparent Glasses</p>
                </div>
                <div class="col-1">
                   <p class="smallorderid">1</p>
            </div>
            <div class="col-1">
               <p class="smallpricey">N4,000</p>
        </div>
        <div class="col-2">
           <button class="smallbtn1"  data-toggle="modal" data-target="#exampleModalCenter">UPDATE</button>
       </div>
       
         
         <!-- Modal -->
         <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
           <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
               <div class="modal-body">
                 <div class="row" style="margin-top:18%;">
                     <div class="col-6">
                         <button class="btn2">DELIVERED</button>
                     </div>
                     <div class="col-6">
                       <button class="btn3">IN PROGRESS</button>
                   </div>
                 </div>
                 <p class="dot">.</p>
               </div>
             </div>
           </div>
         </div>
       
               </div>
       
       
       
               <div class="row">
                   <div class="col-4">
                       <div class="row">
                           <div class="col-2">
                              <img src="assets/images/Rectangle 861.png" class="smallbiggy">
                           </div>
                           <div class="col-10">
                              <p class="smallnamey">Kayode Mosunmola</p> 
                          </div>
                       </div>  
                   </div>
                   <div class="col-2">
                       <p class="smallorderid">#10125</p>
                   </div>
                   <div class="col-2">
                       <p class="smallorderid">Digital Wristwatch</p>
                </div>
                <div class="col-1">
                   <p class="smallorderid">2</p>
            </div>
            <div class="col-1">
               <p class="smallpricey">N6,000</p>
        </div>
        <div class="col-2">
           <button class="smallbtn1"  data-toggle="modal" data-target="#exampleModalCenter">UPDATE</button>
       </div>
       
         
         <!-- Modal -->
         <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
           <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
               <div class="modal-body">
                 <div class="row" style="margin-top:18%;">
                     <div class="col-6">
                         <button class="smallbtn2">DELIVERED</button>
                     </div>
                     <div class="col-6">
                       <button class="smallbtn3">IN PROGRESS</button>
                   </div>
                 </div>
                 <p class="dot">.</p>
               </div>
             </div>
           </div>
         </div>
       
               </div>
       
       
       
               <div class="row">
                   <div class="col-4">
                       <div class="row">
                           <div class="col-2">
                              <img src="assets/images/Rectangle 87.png" class="smallbiggy">
                           </div>
                           <div class="col-10">
                              <p class="smallnamey">Caleb Animasaun</p> 
                          </div>
                       </div>  
                   </div>
                   <div class="col-2">
                       <p class="smallorderid">#10126</p>
                   </div>
                   <div class="col-2">
                       <p class="smallorderid">Jordans</p>
                </div>
                <div class="col-1">
                   <p class="smallorderid">1</p>
            </div>
            <div class="col-1">
               <p class="smallpricey">N15,000</p>
        </div>
        <div class="col-2">
           <button class="smallbtn1"  data-toggle="modal" data-target="#exampleModalCenter">UPDATE</button>
       </div>
       
         
         <!-- Modal -->
         <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
           <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
               <div class="modal-body">
                 <div class="row" style="margin-top:18%;">
                     <div class="col-6">
                         <button class="smallbtn2">DELIVERED</button>
                     </div>
                     <div class="col-6">
                       <button class="smallbtn3">IN PROGRESS</button>
                   </div>
                 </div>
                 <p class="dot">.</p>
               </div>
             </div>
           </div>
         </div>
       
               </div>
       
       
               <div class="row">
                   <div class="col-4">
                       <div class="row">
                           <div class="col-2">
                              <img src="assets/images/Rectangle 88.png" class="smallbiggy">
                           </div>
                           <div class="col-10">
                              <p class="smallnamey">Elizabeth Akinola</p> 
                          </div>
                       </div>  
                   </div>
                   <div class="col-2">
                       <p class="smallorderid">#10127</p>
                   </div>
                   <div class="col-2">
                       <p class="smallorderid">Victoria Secret</p>
                </div>
                <div class="col-1">
                   <p class="smallorderid">2</p>
            </div>
            <div class="col-1">
               <p class="smallpricey">N6,000</p>
        </div>
        <div class="col-2">
           <button class="smallbtn1"  data-toggle="modal" data-target="#exampleModalCenter">UPDATE</button>
       </div>
       
         
         <!-- Modal -->
         <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
           <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
               <div class="modal-body">
                 <div class="row" style="margin-top:18%;">
                     <div class="col-6">
                         <button class="smallbtn2">DELIVERED</button>
                     </div>
                     <div class="col-6">
                       <button class="smallbtn3">IN PROGRESS</button>
                   </div>
                 </div>
                 <p class="dot">.</p>
               </div>
             </div>
           </div>
         </div>
       
               </div>
       











        </div>

</div>