<div class="big">
        <div class="container">
            <div class="row" style="width:100%;margin-top:70;">
                <div class="col-4">
                    <h6 class="Products">Products</h6>
                </div>
                <div class="col-4">
                    
                </div>
                <div class="col-4">
                    <button class="addproducts" data-toggle="modal" data-target="#exampleModalCenter" >ADD PRODUCT</button>

                    <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content"> 
    <div class="modal-body">
      <div class="pic">
          <img src="assets/images/mdi_camera_alt.png" class="camera">
      </div>
      <form style="margin-top:6%;">
          <label class="productname">Product Name</label>
          <br />
          <input class="input1" type="text">

             <br />
          <label class="productname" type="text">Price</label>
          <br />
          <input class="input1">
      </form>
      <button class="lastadd">ADD PRODUCT</button>
    </div>
  </div>
</div>
</div>
                </div>
            </div>

   

            <div class="viewitem">View All</div>
            <div class="ano">
            <div class="row" style="margin-top:11;">
                
              <div class="col-2">
                  <img src="assets/images/Rectangle 94.png" class="imgpic">
              </div>
              <div class="col-4">
                <p class="anokia">Kai Body Lotion</p>
            </div>
            <div class="col-2">
                <p class="anoprice">N6,000</p>
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-1">
                <img src="assets/images/Vector (2).png" class="imgpic1">
            </div>
            <div class="col-1">
                <img src="assets/images/Vector (3).png" class="imgpic1">
            </div>
            </div>
            </div>

            <div class="ano">
            <div class="row" style="margin-top:11;">
                
                <div class="col-2">
                    <img src="assets/images/Rectangle 95.png" class="imgpic">
                </div>
                <div class="col-4">
                  <p class="anokia">Blue Flats</p>
              </div>
              <div class="col-2">
                  <p class="anoprice">N4,000</p>
              </div>
              <div class="col-2">
                  
              </div>
              <div class="col-1">
                  <img src="assets/images/Vector (2).png" class="imgpic1">
              </div>
              <div class="col-1">
                  <img src="assets/images/Vector (3).png" class="imgpic1">
              </div>
              </div>
            </div>

            <div class="ano">
              <div class="row" style="margin-top:11;">
                
                <div class="col-2">
                    <img src="assets/images/Rectangle 96.png" class="imgpic">
                </div>
                <div class="col-4">
                  <p class="anokia">OXFORD</p>
              </div>
              <div class="col-2">
                  <p class="anoprice">N8,000</p>
              </div>
              <div class="col-2">
                  
              </div>
              <div class="col-1">
                  <img src="assets/images/Vector (2).png" class="imgpic1">
              </div>
              <div class="col-1">
                  <img src="assets/images/Vector (3).png" class="imgpic1">
              </div>
              </div>





        
        </div>

        <div class="ano">
            <div class="row" style="margin-top:11;">
              
              <div class="col-2">
                  <img src="assets/images/Rectangle 97.png" class="imgpic">
              </div>
              <div class="col-4">
                <p class="anokia">Victoria Secret</p>
            </div>
            <div class="col-2">
                <p class="anoprice">N7,000</p>
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-1">
                <img src="assets/images/Vector (2).png" class="imgpic1">
            </div>
            <div class="col-1">
                <img src="assets/images/Vector (3).png" class="imgpic1">
            </div>
            </div>
      </div>


      <div class="ano">
        <div class="row" style="margin-top:11;">
          
          <div class="col-2">
              <img src="assets/images/Rectangle 98.png" class="imgpic">
          </div>
          <div class="col-4">
            <p class="anokia">Dove Body Lotion</p>
        </div>
        <div class="col-2">
            <p class="anoprice">N2,000</p>
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-1">
            <img src="assets/images/Vector (2).png" class="imgpic1">
        </div>
        <div class="col-1">
            <img src="assets/images/Vector (3).png" class="imgpic1">
        </div>
        </div>
  </div>

  <div class="ano">
    <div class="row" style="margin-top:11;">
      
      <div class="col-2">
          <img src="assets/images/Rectangle 68.png" class="imgpic3">
      </div>
      <div class="col-4">
        <p class="anokia">Yellow Flats</p>
    </div>
    <div class="col-2">
        <p class="anoprice">N7,000</p>
    </div>
    <div class="col-2">
        
    </div>
    <div class="col-1">
        <img src="assets/images/Vector (2).png" class="imgpic1">
    </div>
    <div class="col-1">
        <img src="assets/images/Vector (3).png" class="imgpic1">
    </div>
    </div>
</div>


     

    







   </div>
 
</div>

<div class="small">
            <div class="container">
                <div class="row" style="width:100%;margin-top:70;">
                    <div class="col-6">
                        <h6 class="Products">Products</h6>
                    </div>
                  
                    <div class="col-6">
                        <button class="smalladdproducts" data-toggle="modal" data-target="#smallexampleModalCenter">ADD PRODUCT</button>
                    </div>
                    <div class="modal fade" id="smallexampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content"> 
                            <div class="modal-body">
                              <div class="pic">
                                  <img src="assets/images/mdi_camera_alt.png" class="camera">
                              </div>
                              <form style="margin-top:6%;">
                                  <label class="productname">Product Name</label>
                                  <br />
                                  <input class="input1" type="text">
                    
                                     <br />
                                  <label class="productname" type="text">Price</label>
                                  <br />
                                  <input class="input1">
                              </form>
                              <button class="lastadd">ADD PRODUCT</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

                <div class="smallviewitem">View All</div>
                <div class="ano">
                <div class="row" style="margin-top:11;">
                    
                  <div class="col-2">
                      <img src="assets/images/Rectangle 94.png" class="imgpic">
                  </div>
                  <div class="col-3">
                    <p class="smallanokia">Kai Body Lotion</p>
                </div>
                <div class="col-3">
                    <p class="smallanoprice">N6,000</p>
                </div>
               
                <div class="col-2">
                    <img src="assets/images/Vector (2).png" class="imgpic1">
                </div>
                <div class="col-2">
                    <img src="assets/images/Vector (3).png" class="imgpic1">
                </div>
                </div>
                </div>

                <div class="ano">
                <div class="row" style="margin-top:22;">
                    
                    <div class="col-2">
                        <img src="assets/images/Rectangle 95.png" class="imgpic">
                    </div>
                    <div class="col-3">
                      <p class="smallanokia">Blue Flats</p>
                  </div>
                  <div class="col-3">
                      <p class="smallanoprice">N4,000</p>
                  </div>
                  
                  <div class="col-2">
                      <img src="assets/images/Vector (2).png" class="imgpic1">
                  </div>
                  <div class="col-2">
                      <img src="assets/images/Vector (3).png" class="imgpic1">
                  </div>
                  </div>
                </div>

                <div class="ano">
                  <div class="row" style="margin-top:22;">
                    
                    <div class="col-2">
                        <img src="assets/images/Rectangle 96.png" class="imgpic">
                    </div>
                    <div class="col-3">
                      <p class="smallanokia">OXFORD</p>
                  </div>
                  <div class="col-3">
                      <p class="smallanoprice">N8,000</p>
                  </div>
                  
                  <div class="col-2">
                      <img src="assets/images/Vector (2).png" class="imgpic1">
                  </div>
                  <div class="col-2">
                      <img src="assets/images/Vector (3).png" class="imgpic1">
                  </div>
                  </div>





            
            </div>

            <div class="ano">
                <div class="row" style="margin-top:22;">
                  
                  <div class="col-2">
                      <img src="assets/images/Rectangle 97.png" class="imgpic">
                  </div>
                  <div class="col-3">
                    <p class="smallanokia">Victoria Secret</p>
                </div>
                <div class="col-3">
                    <p class="smallanoprice">N7,000</p>
                </div>
             
                <div class="col-2">
                    <img src="assets/images/Vector (2).png" class="imgpic1">
                </div>
                <div class="col-2">
                    <img src="assets/images/Vector (3).png" class="imgpic1">
                </div>
                </div>
          </div>


          <div class="ano">
            <div class="row" style="margin-top:22;">
              
              <div class="col-2">
                  <img src="assets/images/Rectangle 98.png" class="imgpic">
              </div>
              <div class="col-3">
                <p class="smallanokia">Dove Body Lotion</p>
            </div>
            <div class="col-3">
                <p class="smallanoprice">N2,000</p>
            </div>
            
            <div class="col-2">
                <img src="assets/images/Vector (2).png" class="imgpic1">
            </div>
            <div class="col-2">
                <img src="assets/images/Vector (3).png" class="imgpic1">
            </div>
            </div>
      </div>

      <div class="ano">
        <div class="row" style="margin-top:22;">
          
          <div class="col-2">
              <img src="assets/images/Rectangle 68.png" class="imgpic3">
          </div>
          <div class="col-3">
            <p class="smallanokia">Yellow Flats</p>
        </div>
        <div class="col-3">
            <p class="smallanoprice">N7,000</p>
        </div>
       
        <div class="col-2">
            <img src="assets/images/Vector (2).png" class="imgpic1">
        </div>
        <div class="col-2">
            <img src="assets/images/Vector (3).png" class="imgpic1">
        </div>
        </div>
  </div>


         

        







       </div>
 
</div>
