<h5 class="successful">ORDER SUCCESSFUL!</h5>
<h5 class="thanks">Thanks for your order</h5>

<div class="container">
    <div class="row first">
        <div class="col-6">
            <p class="id">Order ID</p>
            <h5 class="code">#10121</h5>
        </div>

        <div class="col-6">
            <p class="id">Order Date</p>
            <h5 class="code">21-04-20</h5>
        </div>

    </div>
</div>

<h5 class="shopping">Order Summary</h5>
<div class="container">
    <div class="row allrow" style="width:100%;">
        <div class="col-4">
            <div class="row">
                <div class="col-4">
                    <img src="assets/shop product/cartshoe.png" class="imgcart">
                </div>
                <div class="col-8">
                    <p class="highboot">High Boots</p>
                </div>
            </div>
        </div>
        <div class="col-2">
           
        </div>
        <div class="col-2">
            <p class="highboot">2</p>
        </div>
        <div class="col-2">
            
        </div>
        <div class="col-2">
            <p class="highbootprice">N20,000</p>
        </div>
    </div> 
    </div>

    
    <div class="container">
        <div class="row allrow" style="width:100%;">
            <div class="col-4">
                <div class="row">
                    <div class="col-4">
                        <img src="assets/shop product/cartshoe2.png" class="imgcart">
                    </div>
                    <div class="col-8">
                        <p class="highboot">Brown Flats</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                <p class="highboot">1</p>
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2">
                <p class="highbootprice">N4,000</p>
            </div>
        </div> 
        </div>


        <div class="container">
            <div class="row allrow" style="width:100%;">
                <div class="col-4">
                    <div class="row">
                        <div class="col-4">
                            <img src="assets/shop product/cartglass.png" class="imgcart">
                        </div>
                        <div class="col-8">
                            <p class="highboot">Transparent Eye glasses</p>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    
                </div>
                <div class="col-2">
                    <p class="highboot">1</p>
                </div>
                <div class="col-2">
                   
                </div>
                <div class="col-2">
                    <p class="highbootprice">N6,000</p>
                </div>
            </div> 
            </div>


            <div class="container">
                <div class="row allrow" style="width:100%;">
                    <div class="col-4">
                        <div class="row">
                            <div class="col-4">
                                <img src="assets/shop product/cartperfume.png" class="imgcart">
                            </div>
                            <div class="col-8">
                                <p class="highboot">Coco Chanel</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        
                    </div>
                    <div class="col-2">
                        <p class="highboot">2</p>
                    </div>
                    <div class="col-2">
                       
                    </div>
                    <div class="col-2">
                        <p class="highbootprice">N28,000</p>
                    </div>
                </div> 
                </div>



                <div class="container">
                    <div class="row" style="width:100%;">
                        <div class="col-4">
                           
                        </div>
                        <div class="col-2">
                            
                        </div>
                        <div class="col-2">
                           
                        </div>
                        <div class="col-2">
                            <p class="highboot1">Total</p>
                        </div>
                        <div class="col-2">
                            <p class="highbootprice1">N1,280,000</p>
                        </div>
                    </div> 
                    </div>

                   

                    <p class="lastall"></p>



