<section class="four" style="background: #D9DCF8;width:100%;">
    <div class="row rowfour" style="width:100%;background: #D9DCF8;width:100%;">
      <div class="col-3">
        <img src="assets/shop product/shoe.png" class="img5">
      </div>
      <div class="col-6">
      <h4 class="h4one">Get 10% Discount on First Order</h4>
      <button class="btn4">SHOP NOW</button>
      </div>
      <div class="col-3">
        <img src="assets/shop product/shirt.png" class="img6">
      </div>
    </div>
  </section>
  
  <section class="smallfour" style="background: #D9DCF8;width:100%;">
    <div class="row smallrowfour" style="width:100%;background: #D9DCF8;">
      <div class="col-3">
        <img src="assets/shop product/shoe1.png" class="img10">
      </div>
      <div class="col-6">
      <h4 class="h4two">Get 10% Discount on First Order</h4>
      <button class="btn8">SHOP NOW</button>
      </div>
      <div class="col-3">
        <img src="assets/shop product/shirt(1).png" class="img11">
      </div>
    </div>
  </section>

  <section id="one" style="width:100%;">
    <div class="container">
      <div class="row row1" style="width:100%;">  
        <div class="col-2">
          <h6 class="everi">All</h6>
        </div>
        <div class="col-2">
        <a href=""><h6 class="everi">Clothes</h6></a>
        </div>
        <div class="col-2">
          <a href=""><h6 class="everi" href="#">Shoes</h6></a>
        </div>
        <div class="col-2">
          <a href=""><h6 class="everi">Perfumes</h6></a>
        </div>
        <div class="col-2">
          <a href=""> <h6 class="everi">Lotion</h6></a>
        </div> 
        <div class="col-2">
          <a href="">  <h6 class="everi1">Accessories</h6></a>
        </div>
      </div>
    </div>
  </section>

  <section id="smallone">
    <div class="container">
      <div class="row smallrow1">
        <div class="col-4">
          <h6 class="smalleveri">All</h6>
        </div>
        <div class="col-4">
          <h6 class="smalleveri">Clothes</h6>
        </div>
        <div class="col-4">
        <h6 class="smalleveri">Shoes</h6>
        </div>
      </div>
      <div class="row smallrow2">
        <div class="col-4">
          <h6 class="smalleveri">Perfumes</h6>
        </div>
        <div class="col-4">
           <h6 class="smalleveri">Lotion</h6>
        </div>
        <div class="col-4">
           <h6 class="smalleveri">Accessories</h6>
        </div>
      </div>
    </div>
  </section>


  <section id="two" style="width:100%;">
    <div class="container">
      <div class="row row1" style="width:100%;">
        <div class="col-4">
          <img src="assets/shop product/Rectangle 6.png" class="img12">
          <h6 class="h6two">Adidas Sweater</h6>
          <h6 class="h6three">N4,000</h6>
          <button class="btn3">ADD TO CART</button>
        </div>
        <div class="col-4">
          <img src="assets/shop product/Rectangle 7.png" class="img12">
          <h6 class="h6two">Next Crop Top</h6>
          <h6 class="h6three">N2,000</h6>
          <button class="btn3">ADD TO CART</button>
        </div>
        <div class="col-4">
          <img src="assets/shop product/Rectangle 12.png" class="img12">
          <h6 class="h6two">Pink Heels</h6>
          <h6 class="h6three">N8,000</h6>
          <button class="btn3">ADD TO CART</button>
        </div>
        </div> 

        <div class="row row1" style="width:100%;">
          <div class="col-4">
            <img src="assets/shop product/Rectangle 13.png" class="img12">
            <h6 class="h6two">Jordans 1 Retro</h6>
            <h6 class="h6three">N10,000</h6>
            <button class="btn3">ADD TO CART</button>
          </div>
          <div class="col-4">
            <img src="assets/shop product/Rectangle 17.png" class="img12">
            <h6 class="h6two">French Girl Body Silk</h6>
            <h6 class="h6three">N4,000</h6>
            <button class="btn3">ADD TO CART</button>
          </div>
          <div class="col-4">
            <img src="assets/shop product/Rectangle 18.png" class="img12">
            <h6 class="h6two">Dove Body Lotion</h6>
            <h6 class="h6three">N2,000</h6>
            <button class="btn3">ADD TO CART</button>
          </div>
          </div> 

          <div class="row row1" style="width:100%;">
            <div class="col-4">
              <img src="assets/shop product/Rectangle 30.png" class="img12">
              <h6 class="h6two">OXFORD</h6>
              <h6 class="h6three">N15,000</h6>
              <button class="btn3">ADD TO CART</button>
            </div>
            <div class="col-4">
              <img src="assets/shop product/Rectangle 32.png" class="img12">
              <h6 class="h6two">Cat eye glasses</h6>
              <h6 class="h6three">N4,500</h6>
              <button class="btn3">ADD TO CART</button>
            </div>
            <div class="col-4">
              <img src="assets/shop product/Rectangle 33.png" class="img12">
              <h6 class="h6two">Transparent glasses</h6>
              <h6 class="h6three">N6,000</h6>
              <button class="btn3">ADD TO CART</button>
            </div>
            </div> 

            <div class="row row1" style="width:100%;">
              <div class="col-4">
                <img src="assets/shop product/Rectangle 36.png" class="img12">
                <h6 class="h6two">Victoria Secret</h6>
                <h6 class="h6three">N8,000</h6>
                <button class="btn3">ADD TO CART</button>
              </div>
              <div class="col-4">
                <img src="assets/shop product/Rectangle 38.png" class="img12">
                <h6 class="h6two">Lancome</h6>
                <h6 class="h6three">N14,500</h6>
                <button class="btn3">ADD TO CART</button>
              </div>
              <div class="col-4">
                <img src="assets/shop product/Rectangle 39.png" class="img12">
                <h6 class="h6two">Kai Body Lotion</h6>
                <h6 class="h6three">N6,000</h6>
                <button class="btn3">ADD TO CART</button>
              </div>
              </div> 

              <div class="row row1" style="width:100%;">
                <div class="col-4">
                  <img src="assets/shop product/Rectangle 42.png" class="img12">
                  <h6 class="h6two">Gold earrings</h6>
                  <h6 class="h6three">N1,000</h6>
                  <button class="btn3">ADD TO CART</button>
                </div>
                <div class="col-4">
                  <img src="assets/shop product/Rectangle 44.png" class="img12">
                  <h6 class="h6two">Pearl Hoops</h6>
                  <h6 class="h6three">N1,500</h6>
                  <button class="btn3">ADD TO CART</button>
                </div>
                <div class="col-4">
                  <img src="assets/shop product/Rectangle 45.png" class="img12">
                  <h6 class="h6two">Yellow Flats</h6>
                  <h6 class="h6three">N4,000</h6>
                  <button class="btn3">ADD TO CART</button>
                </div>
                </div> 
    </div>
  </section>


  <section id="two">
    <div class="container">
    <img src="assets/shop product/Group 50.png" class="pagination">
    <p class="last"></p>
    </div>
  </section>
